dtd/finsmn.dtd

<!ELEMENT r (lics?, e+, xhtml:script?) >
<!ATTLIST r xmlns:xhtml CDATA #FIXED "http://www.w3.org/1999/xhtml"
    xml:lang ( fin ) #IMPLIED
>
<!ATTLIST r
      id ( finsmn ) #IMPLIED >


<!-- the header -->
<!ELEMENT lics (lic, ref*, sourcenote*) >
<!ATTLIST lics xml:space (default|preserve) 'preserve'
    xmlns:xhtml CDATA #FIXED "http://www.w3.org/1999/xhtml"
>
<!ELEMENT lic (#PCDATA|a)*>
<!ATTLIST lic xml:lang ( en | nno ) #IMPLIED >
<!ELEMENT ref (#PCDATA|a)*>
<!ELEMENT sourcenote (#PCDATA|a)*>
<!ELEMENT a (#PCDATA)>


<!ELEMENT e (lg, mg+, ig* ) >
<!ATTLIST e
      src CDATA #IMPLIED
      id CDATA #IMPLIED
>
<!ELEMENT lg (l+, l_ref*, algu?) >
<!ELEMENT l (#PCDATA) >
<!ATTLIST l
      pos ( A | Adv | CC | CS | Pcle | Po | Pron |
            Interj | N | Num | Phrase | V  ) #REQUIRED
      attr CDATA #IMPLIED
      sci  CDATA #IMPLIED
      type ( Prop ) #IMPLIED
      r1_par CDATA #IMPLIED
      r2_par CDATA #IMPLIED
>
<!ATTLIST l t_type ( Phrase ) #IMPLIED  > <!-- fix -->
<!ATTLIST l comma CDATA #IMPLIED >
<!ATTLIST l syn CDATA #IMPLIED >
<!ATTLIST l sem_type ( Plc ) #IMPLIED >
<!ATTLIST l re CDATA #IMPLIED >
<!ATTLIST l tt CDATA #IMPLIED >


<!-- algu = lemma IDs in the algu database -->
<!ELEMENT algu EMPTY >
<!ATTLIST algu lekseemi_id CDATA #REQUIRED >
<!ATTLIST algu sanue_id CDATA #REQUIRED >



<!ELEMENT mg (semantics?, l_ref?, dg?, tg+, xg* ) >
<!ATTLIST mg
      xml:lang ( smn ) #IMPLIED
      rest CDATA #IMPLIED
>
<!ATTLIST mg id CDATA #IMPLIED >
<!ATTLIST mg src CDATA #IMPLIED >


<!-- definition  -->
<!ELEMENT dg ( re?, d, dt? ) >
<!ELEMENT d (#PCDATA) >
<!ELEMENT dt (#PCDATA) >


<!-- Idiom phrases, faste uttrykk -->
<!ELEMENT ig ( i+, id?, it+)+ >
<!ELEMENT i (#PCDATA) >
<!ELEMENT id (#PCDATA) >
<!ELEMENT it (#PCDATA) >


<!ELEMENT tg (semantics?,  ( ((re?, t+, stem*, l_ref?) ))+, xg*, syng?) >
<!ATTLIST tg
      xml:lang ( smn ) #REQUIRED
      check CDATA #IMPLIED
      tw_id CDATA #IMPLIED

>
<!ELEMENT re (#PCDATA) > <!-- Domain restriction: bot, phys, ... -->
<!ATTLIST re
    xml:lang ( fin | lat) #IMPLIED
>

<!ELEMENT t (#PCDATA) >
<!ATTLIST t t_type ( Pers | expl | Phrase ) #IMPLIED  >
<!ATTLIST t pos ( A | Adv | CC | CS | Interj | 
            N  | Num | Pcle | Pr | Pron | Po | 
            V | X ) #IMPLIED >
<!ATTLIST t type ( expl
                  | grammarexpl |Prop | Indef | G3 | NomAg | Coll | Recipr | Pers
                  | grammar | Refl | Dem | Poss | Logo | Rel | Interr | TV | IV ) #IMPLIED >
<!ATTLIST t src CDATA #IMPLIED >
<!ATTLIST t l_par CDATA #IMPLIED >
<!ATTLIST t wf CDATA #IMPLIED >
<!ATTLIST t t_tld CDATA #IMPLIED >
<!ATTLIST t syn_dash CDATA #IMPLIED >
<!ATTLIST t attr CDATA #IMPLIED >
<!ATTLIST t r_par CDATA #IMPLIED >
<!ATTLIST t mwe CDATA #IMPLIED >
<!ATTLIST t syn CDATA #IMPLIED >
<!ATTLIST t hid CDATA #IMPLIED >
<!ATTLIST t xxx CDATA #IMPLIED >


<!ELEMENT xg ((x, xt+)+)>
<!ELEMENT x (#PCDATA)>
<!ATTLIST x src CDATA #IMPLIED >
<!ELEMENT xt (#PCDATA)>
<!ATTLIST xt src CDATA #IMPLIED >

<!ELEMENT xhtml:script EMPTY >
<!ATTLIST xhtml:script type CDATA #FIXED "text/javascript" >
<!ATTLIST xhtml:script src  CDATA #IMPLIED >
<!ATTLIST xhtml:script xmlns:xhtml CDATA #FIXED "http://www.w3.org/1999/xhtml" >


