dtd/finsmn.dtd

<!ELEMENT r (lics?, e+, xhtml:script?) >
<!ATTLIST r xmlns:xhtml CDATA #FIXED "http://www.w3.org/1999/xhtml"
    xml:lang ( fin ) #IMPLIED
>
<!ATTLIST r
      id ( finsmn ) #IMPLIED >


<!-- the header -->
<!ELEMENT lics (lic, ref*, sourcenote*) >
<!ATTLIST lics xml:space (default|preserve) 'preserve'
    xmlns:xhtml CDATA #FIXED "http://www.w3.org/1999/xhtml"
>
<!ELEMENT lic (#PCDATA|a)*>
<!ATTLIST lic xml:lang ( en | nno ) #IMPLIED >
<!ELEMENT ref (#PCDATA|a)*>
<!ELEMENT sourcenote (#PCDATA|a)*>
<!ELEMENT a (#PCDATA)>


<!ELEMENT e (lg, semantics?, stem*, sources?, mg+, ig* ) >
<!ATTLIST e
      src CDATA #IMPLIED
      id CDATA #IMPLIED
>
<!ELEMENT lg (l+, l_ref*, lemma_ref*, lsub*, lc*, stem*, analysis*, mini_paradigm*, algu?, orig?) >
<!ELEMENT lemma_ref (#PCDATA) >
<!ELEMENT analysis (#PCDATA)* >
<!ELEMENT orig (#PCDATA) >
<!ELEMENT mini_paradigm (analysis+) >
<!ELEMENT l (#PCDATA) >
<!ATTLIST l
      pos ( A | N | V | Adv |
      Adv-CC | Adv-CS | Adv-N | Adv-N-Po | Adv-Po | Adv-Pron | CC-CS |
      N-Po | N-Pron | Po-Pron |
      Po | Pron | Pers | Interj | Pcle |
            Num | CC | CS | 
            Phrase | CMP | X ) #REQUIRED
      attr CDATA #IMPLIED
      type ( Rel | Pers | Indef | Refl | Dem | interr |
             pre | post | ord | TV | IV | actor | G3 | G7 | NomAg |
	     Ord | Prop | Recipr | Coll | Interr | Logo ) #IMPLIED
      tt_auto CDATA #IMPLIED
      r1_par CDATA #IMPLIED
      r2_par CDATA #IMPLIED
>
<!ATTLIST l mwe CDATA #IMPLIED >
<!ATTLIST l comma CDATA #IMPLIED >
<!ATTLIST l syn CDATA #IMPLIED >
<!ATTLIST l sem_type ( Obj | Plc | Fem | Org | Mal | Txt ) #IMPLIED >
<!ATTLIST l hid CDATA #IMPLIED >
<!ATTLIST l src CDATA #IMPLIED >
<!ATTLIST l re CDATA #IMPLIED >
<!ATTLIST l tt CDATA #IMPLIED >

<!-- decl: i indeclineable -->

<!-- lsub = frequent subform of lemma -->
<!ELEMENT lsub (#PCDATA) >
<!ATTLIST lsub
      attr ( ok | no ) #IMPLIED
      type ( rel | pers | indef | refl | pre | post | ord ) #IMPLIED
>
<!ATTLIST lsub src CDATA #IMPLIED >


<!-- lc = lemma comment, misused as stem field -->
<!ELEMENT lc (#PCDATA) >
<!ELEMENT semantics (sem | sem* ) >
<!ATTLIST sem
    name CDATA #IMPLIED >

<!-- algu = lemma IDs in the algu database -->
<!ELEMENT algu EMPTY >
<!ATTLIST algu
      lekseemi_id CDATA #REQUIRED >
<!ATTLIST algu
      sanue_id CDATA #REQUIRED >


<!-- the real stem field -->
<!ELEMENT stem (#PCDATA) >
<!ATTLIST stem
      class ( bisyllabic | trisyllabic | contracted ) #IMPLIED
>

<!ELEMENT sources (frequency?, geography*) >

<!ELEMENT frequency EMPTY >
<!ATTLIST frequency
      class ( common | rare ) #IMPLIED
>
<!ELEMENT geography EMPTY >
<!ATTLIST geography
      class ( other | south | mid | north ) #IMPLIED
>
<!--      name CDATA #REQUIRED -->

<!ELEMENT sem EMPTY >
<!ATTLIST sem
      class CDATA #IMPLIED
>

<!ELEMENT mg (semantics?, l_ref?, dg?, tg+, xg* ) >
<!ATTLIST mg
      xml:lang ( smn ) #IMPLIED
      rest CDATA #IMPLIED
>
<!ATTLIST mg id CDATA #IMPLIED >
<!ATTLIST mg src CDATA #IMPLIED >
<!ATTLIST mg x ( fad ) #IMPLIED >


<!-- definition  -->
<!ELEMENT dg ( re?, d, dt? ) >
<!ELEMENT d (#PCDATA) >
<!ELEMENT dt (#PCDATA) >


<!-- Idiom phrases, faste uttrykk -->
<!ELEMENT ig ( i+, id?, it+)+ >
<!ELEMENT i (#PCDATA) >
<!ELEMENT id (#PCDATA) >
<!ELEMENT it (#PCDATA) >


<!ELEMENT tg (semantics?, re?,  ( ((t+, stem*, l_ref?) | tf | te ))+, xg*, syng?) >
<!ATTLIST tg
      xml:lang ( smn ) #REQUIRED
      check CDATA #IMPLIED
      tw_id CDATA #IMPLIED

>
<!ELEMENT re (#PCDATA) > <!-- Domain restriction: bot, phys, ... -->
<!ATTLIST re
    xml:lang ( fin | lat) #IMPLIED
>
<!ATTLIST re x ( fad ) #IMPLIED >
<!ATTLIST re comment CDATA #IMPLIED >

<!ELEMENT t (#PCDATA) >
<!ATTLIST t freq CDATA #IMPLIED >
<!ATTLIST t t_type ( Pers | expl ) #IMPLIED  >
<!ATTLIST t pos ( A | N  | V  |
            Adv | Pr | Po | 
            Pron | Interj | CC | CS | Num |
            Pcle | Phrase | CMP | X  | 
            Adv-N | N-Pron | Adv-CC | Adv-Pron | Adv-CS | CC-CS | A-N |
	    Adv-Po | A-Adv | Adv-Po-Pron | A-Adv-Pron | A-Adv-N |
	    Adv-N-Po |N-Po | Po-Pron | A-Pron | Foc_gis | Foc_han ) #IMPLIED >
<!ATTLIST t reg CDATA #IMPLIED >
<!ATTLIST t tt_auto CDATA #IMPLIED >
<!ATTLIST t type ( expl
                  | grammarexpl |Prop | Indef | G3 | NomAg | Coll | Recipr | Pers
                  | grammar | Refl | Dem | Poss | Logo | Rel | Interr | TV | IV ) #IMPLIED >
<!ATTLIST t lang ( swe | nob ) #IMPLIED >
<!ATTLIST t xml:lang ( smn ) #IMPLIED >
<!ATTLIST t src CDATA #IMPLIED >
<!ATTLIST t l_par CDATA #IMPLIED >
<!ATTLIST t wf CDATA #IMPLIED >
<!ATTLIST t t_tld CDATA #IMPLIED >
<!ATTLIST t syn_dash CDATA #IMPLIED >
<!ATTLIST t attr CDATA #IMPLIED >
<!ATTLIST t r_par CDATA #IMPLIED >
<!ATTLIST t mwe CDATA #IMPLIED >
<!ATTLIST t syn CDATA #IMPLIED >
<!ATTLIST t sem_type ( Obj | Plc | Org | Mal ) #IMPLIED >
<!ATTLIST t hid CDATA #IMPLIED >
<!ATTLIST t href CDATA #IMPLIED >
<!ATTLIST t xxx CDATA #IMPLIED >

<!-- perhaps not first for attlist oa, if reverse-leksa shall be taken from nobsma -->

<!ELEMENT l_ref (#PCDATA) >

<!-- translation_comment = for Oahpa use -->

<!ELEMENT tf (#PCDATA) > <!-- Translation phrase -->
<!ATTLIST tf pos ( phrase ) #IMPLIED >
<!ATTLIST tf lang ( smn ) #IMPLIED >
<!ATTLIST tf xml:lang ( smn ) #IMPLIED >


<!ELEMENT te (#PCDATA) > <!-- Translation explanation -->
<!ATTLIST te lang ( smn ) #IMPLIED >
<!ATTLIST te xml:lang ( smn ) #IMPLIED >
<!ATTLIST te pos ( phrase ) #IMPLIED >

<!ELEMENT xg ((x, xt+)+)>
<!ATTLIST xg re CDATA #IMPLIED >
<!ELEMENT x (#PCDATA)>
<!ATTLIST x src CDATA #IMPLIED >
<!ELEMENT xt (#PCDATA)>
<!ATTLIST xt src CDATA #IMPLIED >

<!ELEMENT syng (syn+)>
<!ELEMENT syn (#PCDATA)>

<!ELEMENT xhtml:script EMPTY >
<!ATTLIST xhtml:script type CDATA #FIXED "text/javascript" >
<!ATTLIST xhtml:script src  CDATA #IMPLIED >
<!ATTLIST xhtml:script xmlns:xhtml CDATA #FIXED "http://www.w3.org/1999/xhtml" >


